* {
    box-sizing: border-box;
    margin-left: 5px;
    margin-bottom: 5px;
}

header {
    background-color: blue;
    text-align: center;
    color:cornsilk;
}

h2 {
    font-weight: bold;
}
.forecast {
    margin: 5px;
    width:auto;
    height: 100px;
}
.flex-box {
    display:inline-flexbox;
}
.cards{
  display:inline-block;
}
    
    
